@font-face {
   font-family: 'Los-Andes-Lota-Grotesque-Alt-1-Black';
   font-display: swap;
   src: url('file:///C:/Users/brian/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-23_222232/fonts/Los-Andes-Lota-Grotesque-Alt-1-Black/font.ttf');
}
